[Unit]
Description=Timer for Fan Control Service

[Timer]
OnBootSec=1s
OnUnitActiveSec=1s
AccuracySec=1s
Unit=fan-control.service

[Install]
WantedBy=timers.target

