[Unit]
Description=Manage Fan Speed Based on Temperature
After=multi-user.target
BindsTo=multi-user.target

[Service]
ExecStart=/usr/local/bin/myfan.sh
Type=simple
Restart=on-failure

[Install]
WantedBy=multi-user.target
